<div class="main">
    <div class="logo">
        <p id="heading" class="gradient-text" align="center">Github Search</p> <br>
        <p id="sub-heading" class="gradient-text">You can find any Github user in a number of minutes!</p>
    </div>
    <nav>
        <a routerLink="/users" routerLinkActive="active"><button id="user">Users</button></a> <br>
        <p id="normal-text" class="gradient-text"></p> <br>
        <a routerLink="/repos" routerLinkActive="active"><button id="repo">Repositories</button></a>
    </nav>
</div>

